In [1]:
import pandas as pd
import pyarrow as pa
import dask.dataframe as dd
from datetime import datetime

## Using pyarrow for querying by date

In [ ]:
data_pa = pa.parquet.read_table("D:\OneDrive\Applications\CodeChallenges\Jua_Code_Challenge\data\df.parquet.gzip")

In [ ]:
data_pa

In [ ]:
timestamp_header = "time1"
#start_time = datetime('2022-04-30 21:00:00.00000')
#end_time = datetime('2022-05-01 18:00:00.000000')

date_string = "2022-04-30 21:00:00.000000"
date_object = pa.strptime(date_string, '%Y-%m-%d %H:%M:%S.%f')
start_time = pa.TimestampScalar(date_object, 'us')
print(start_time)

In [ ]:
data_pq[timestamp_header][0]

In [ ]:
data_pq[timestamp_header][0]

In [ ]:
filtered_table = data_pq.filter((data_pq[timestamp_header] >= start_time) & (data_pq[timestamp_header] <= start_time)
)

## Using pandas for querying by date

In [4]:
data_pd = pd.read_parquet("D:\OneDrive\Applications\CodeChallenges\Jua_Code_Challenge\data\df.parquet.gzip")
print(data_pd.count()) # example of operation on the returned DataFrame

time1_bounds                               4152960
precipitation_amount_1hour_Accumulation    4152960
dtype: int64

In [5]:
data_pd

                                            time1_bounds  \
lon    lat    time1               nv
0.00    90.00 2022-05-01 22:00:00 0  2022-05-01 19:00:00
                                  1  2022-05-01 22:00:00
              2022-05-01 23:00:00 0  2022-05-01 20:00:00
                                  1  2022-05-01 23:00:00
        89.75 2022-05-01 22:00:00 0  2022-05-01 19:00:00
...                                                  ...
359.75 -89.75 2022-05-01 23:00:00 1  2022-05-01 23:00:00
       -90.00 2022-05-01 22:00:00 0  2022-05-01 19:00:00
                                  1  2022-05-01 22:00:00
              2022-05-01 23:00:00 0  2022-05-01 20:00:00
                                  1  2022-05-01 23:00:00

                                      precipitation_amount_1hour_Accumulation
lon    lat    time1               nv
0.00    90.00 2022-05-01 22:00:00 0                                       0.0
                                  1                                       0.0
              2022-05-01 23:00:00 0                                       0.0
                                  1                                       0.0
        89.75 2022-05-01 22:00:00 0                                       0.0
...                                                                       ...
359.75 -89.75 2022-05-01 23:00:00 1                                       0.0
       -90.00 2022-05-01 22:00:00 0                                       0.0
                                  1                                       0.0
              2022-05-01 23:00:00 0                                       0.0
                                  1                                       0.0

[4152960 rows x 2 columns]

In [6]:
data_pd.index

MultiIndex([(   0.0,   90.0, '2022-05-01 22:00:00', 0),
            (   0.0,   90.0, '2022-05-01 22:00:00', 1),
            (   0.0,   90.0, '2022-05-01 23:00:00', 0),
            (   0.0,   90.0, '2022-05-01 23:00:00', 1),
            (   0.0,  89.75, '2022-05-01 22:00:00', 0),
            (   0.0,  89.75, '2022-05-01 22:00:00', 1),
            (   0.0,  89.75, '2022-05-01 23:00:00', 0),
            (   0.0,  89.75, '2022-05-01 23:00:00', 1),
            (   0.0,   89.5, '2022-05-01 22:00:00', 0),
            (   0.0,   89.5, '2022-05-01 22:00:00', 1),
            ...
            (359.75,  -89.5, '2022-05-01 23:00:00', 0),
            (359.75,  -89.5, '2022-05-01 23:00:00', 1),
            (359.75, -89.75, '2022-05-01 22:00:00', 0),
            (359.75, -89.75, '2022-05-01 22:00:00', 1),
            (359.75, -89.75, '2022-05-01 23:00:00', 0),
            (359.75, -89.75, '2022-05-01 23:00:00', 1),
            (359.75,  -90.0, '2022-05-01 22:00:00', 0),
            (359.75,  -90.0, '2022-05-01 22:00:00', 1),
            (359.75,  -90.0, '2022-05-01 23:00:00', 0),
            (359.75,  -90.0, '2022-05-01 23:00:00', 1)],
           names=['lon', 'lat', 'time1', 'nv'], length=4152960)

In [7]:
start_time = pd.to_datetime("2022-05-01 21:00:00")
end_time = pd.to_datetime("2022-05-01 23:00:00")

In [8]:
data_pd_time_index = data_pd.reset_index(level=['lon','lat','nv'])

In [9]:
data_pd_time_index.index = pd.to_datetime(data_pd_time_index.index)

In [10]:
data_pd_time_index.index

DatetimeIndex(['2022-05-01 22:00:00', '2022-05-01 22:00:00',
               '2022-05-01 23:00:00', '2022-05-01 23:00:00',
               '2022-05-01 22:00:00', '2022-05-01 22:00:00',
               '2022-05-01 23:00:00', '2022-05-01 23:00:00',
               '2022-05-01 22:00:00', '2022-05-01 22:00:00',
               ...
               '2022-05-01 23:00:00', '2022-05-01 23:00:00',
               '2022-05-01 22:00:00', '2022-05-01 22:00:00',
               '2022-05-01 23:00:00', '2022-05-01 23:00:00',
               '2022-05-01 22:00:00', '2022-05-01 22:00:00',
               '2022-05-01 23:00:00', '2022-05-01 23:00:00'],
              dtype='datetime64[ns]', name='time1', length=4152960, freq=None)

In [11]:
data_pd_time_index.loc[(data_pd_time_index.index>start_time)&(data_pd_time_index.index<end_time)]

,lon,lat,nv,time1_bounds,precipitation_amount_1hour_Accumulation
time1,,,,,
2022-05-01 22:00:00,0.00,90.00,0,2022-05-01 19:00:00,0.0
2022-05-01 22:00:00,0.00,90.00,1,2022-05-01 22:00:00,0.0
2022-05-01 22:00:00,0.00,89.75,0,2022-05-01 19:00:00,0.0
2022-05-01 22:00:00,0.00,89.75,1,2022-05-01 22:00:00,0.0
2022-05-01 22:00:00,0.00,89.50,0,2022-05-01 19:00:00,0.0
...,...,...,...,...,...
2022-05-01 22:00:00,359.75,-89.50,1,2022-05-01 22:00:00,0.0
2022-05-01 22:00:00,359.75,-89.75,0,2022-05-01 19:00:00,0.0
2022-05-01 22:00:00,359.75,-89.75,1,2022-05-01 22:00:00,0.0
2022-05-01 22:00:00,359.75,-90.00,0,2022-05-01 19:00:00,0.0
2022-05-01 22:00:00,359.75,-90.00,1,2022-05-01 22:00:00,0.0

## Plot data on map

In [12]:
import geopandas
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'geopandas'

In [ ]:
conda install geopandas

## Filtering by the hierarchical geospatial index

In [17]:
import h3

In [13]:
data_pd_time_index

,lon,lat,nv,time1_bounds,precipitation_amount_1hour_Accumulation
time1,,,,,
2022-05-01 22:00:00,0.00,90.00,0,2022-05-01 19:00:00,0.0
2022-05-01 22:00:00,0.00,90.00,1,2022-05-01 22:00:00,0.0
2022-05-01 23:00:00,0.00,90.00,0,2022-05-01 20:00:00,0.0
2022-05-01 23:00:00,0.00,90.00,1,2022-05-01 23:00:00,0.0
2022-05-01 22:00:00,0.00,89.75,0,2022-05-01 19:00:00,0.0
...,...,...,...,...,...
2022-05-01 23:00:00,359.75,-89.75,1,2022-05-01 23:00:00,0.0
2022-05-01 22:00:00,359.75,-90.00,0,2022-05-01 19:00:00,0.0
2022-05-01 22:00:00,359.75,-90.00,1,2022-05-01 22:00:00,0.0
2022-05-01 23:00:00,359.75,-90.00,0,2022-05-01 20:00:00,0.0
2022-05-01 23:00:00,359.75,-90.00,1,2022-05-01 23:00:00,0.0

In [21]:
data_pd_time_index['h3_index'] = data_pd_time_index.apply(lambda row: h3.geo_to_h3(row['lat'], row['lon'], 2), axis=1)

In [22]:
data_pd_time_index

,lon,lat,nv,time1_bounds,precipitation_amount_1hour_Accumulation,h3_index
time1,,,,,,
2022-05-01 22:00:00,0.00,90.00,0,2022-05-01 19:00:00,0.0,820327fffffffff
2022-05-01 22:00:00,0.00,90.00,1,2022-05-01 22:00:00,0.0,820327fffffffff
2022-05-01 23:00:00,0.00,90.00,0,2022-05-01 20:00:00,0.0,820327fffffffff
2022-05-01 23:00:00,0.00,90.00,1,2022-05-01 23:00:00,0.0,820327fffffffff
2022-05-01 22:00:00,0.00,89.75,0,2022-05-01 19:00:00,0.0,820327fffffffff
...,...,...,...,...,...,...
2022-05-01 23:00:00,359.75,-89.75,1,2022-05-01 23:00:00,0.0,82f297fffffffff
2022-05-01 22:00:00,359.75,-90.00,0,2022-05-01 19:00:00,0.0,82f297fffffffff
2022-05-01 22:00:00,359.75,-90.00,1,2022-05-01 22:00:00,0.0,82f297fffffffff
2022-05-01 23:00:00,359.75,-90.00,0,2022-05-01 20:00:00,0.0,82f297fffffffff
2022-05-01 23:00:00,359.75,-90.00,1,2022-05-01 23:00:00,0.0,82f297fffffffff

In [24]:
h3_index = '820327fffffffff'
filtered_df = data_pd_time_index[data_pd_time_index['h3_index'] == h3_index]

In [26]:
filtered_df.describe()

,lon,lat,nv,precipitation_amount_1hour_Accumulation
count,36568.000000,36568.000000,36568.000000,36568.000000
mean,196.170149,89.240976,0.500000,0.000002
std,114.273906,0.588632,0.500007,0.000010
min,0.000000,87.750000,0.000000,0.000000
25%,83.750000,88.750000,0.000000,0.000000
50%,223.375000,89.250000,0.500000,0.000000
75%,298.500000,89.750000,1.000000,0.000000
max,359.750000,90.000000,1.000000,0.000061